#root{
  min-height: 100vh;
}

body{
  background: rgb(159,56,242);
background: linear-gradient(180deg, rgba(159,56,242,1) 0%, rgba(43,30,157,1) 100%);
}

.divBorder{
  border-radius: 30px;
  background-color: gray;
}

@media screen and (min-width: 350px) and (max-width: 500px){
  .divResponsive{
      display: flex;
      justify-content: space-between;
  }
}
